<% content_for(:title) { "EIS | #{t('.login')}" } %>
<% content_for :hero do %>
    <div class="layout--hero">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="page">
  <div class="page--content">
    <div class="wrapper">
      <div class="row" style="justify-content: center;">
        <div class="col-md-6 col-xs-12">
          <article class="paper">
            <header class="paper--header">
              <h3><%= t('.login_with_id_title') %></h3>
            </header>
            <div class="paper--content">
              <p><%= t('.login_with_id_text')%></p>
              <br/>
              <%= button_to t('.login_with_id'), omniauth_authorize_path(resource_name, :oidc), data: { turbo: false }, class: 'button button--primary' %>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>

