<p><%= t('mailers.accreditation.shared.greeting') %></p>

<p><%= t('mailers.accreditation.accreditation_granted_or_reaccredited.intro_html', registrar: @registrar.name) %></p>

<p><%= t('mailers.accreditation.accreditation_granted_or_reaccredited.valid_until_html', expiry_date: l(@registrar.accreditation_expire_date.to_date, format: :default)) if @registrar.accreditation_expire_date.present? %></p>

<p><%= t('mailers.accreditation.accreditation_granted_or_reaccredited.follow_up') %></p>
