<p><%= t('mailers.accreditation.assignment_failed.intro_html', name: @user.display_name) %></p>

<p><%= t('mailers.accreditation.assignment_failed.failures_html') %></p>

<ul>
  <% @failures.each do |failure| %>
    <li>
      <strong><%= failure.test_type.to_s.humanize %>:</strong>
      <%= failure.error_message %>
    </li>
  <% end %>
</ul>

