<p><%= t('mailers.accreditation.shared.greeting') %></p>

<p><%= t('mailers.accreditation.theoretical_passed_not_accredited.intro_html', registrar: @registrar.name) %></p>

<p><%= t('mailers.accreditation.theoretical_passed_not_accredited.requirement_html') %></p>

<p><%= t('mailers.accreditation.theoretical_passed_not_accredited.practical_details_html') %></p>
