# This is your application name, as displayed in the UI
application_name: "EIS Accreditation Center"
# Timezone and locale
time_zone: "Tallinn"
locale: "en"

# Address from which the emails come from
email_from_address: "noreply@internet.ee"

# Mailer configuration
mailer_host: 'https://localhost:9001'
mailer_address: 'mailcatcher'
mailer_port: '1025'
mailer_enable_starttls_auto: false
mailer_user_name: ''
mailer_password: ''
# 'plain', 'login', 'cram_md5'
mailer_authentication: 'plain'
mailer_domain: ''
mailer_openssl_verify_mode: 'none'

# Here we will use TEST environment registry base url
# because all operation with domains and contacts should be in test registry environment
BASE_URL: "http://registry:3000"

REPP_BASE_URL: "http://registry:3000"
REPP_CREATE_DOMAIN: "/repp/v1/domains"

AUTH_API_URL: "/api/v1/accreditation_center/auth"
GET_CONTACT: "/api/v1/accreditation_center/contacts"
GET_DOMAIN_INFO: "/api/v1/accreditation_center/domains"
GET_INVOICES: "/api/v1/accreditation_center/invoice_status"

#ACCR_BOT DATA
ACCR_BOT_USERNAME: ""
ACCR_BOT_PASSWORD: ""
ACCR_BOT_CONTACT_CODE: ""
ACCR_BOT_REGISTRAR_NAME: "ACCREDITATION EIS"

CLIENT_BOT_CERTS_PATH: '/opt/ca/certs/accr_bot.crt.pem'
CLIENT_BOT_KEY_PATH:  '/opt/ca/private/accr_bot.key.pem'

# Coordinator email address(es) separated by comma
COORDINATOR_EMAIL: "info@internet.ee,info2@internet.ee"
# Days before expiry to notify coordinator
COORDINATOR_ACCR_EXPIRY_NOTIFICATION_DAYS: 14
# Days before expiry to notify users separated by comma
ACCR_EXPIRY_NOTIFICATION_DAYS: '14,7'
