# This is your application name, as displayed in the UI
application_name: "EIS Accreditation Center"
# Timezone and locale
time_zone: "Tallinn"
locale: "en"

# Portal URLs
registrar_portal_url: "https://registrar.internet.ee"

# Address from which the emails come from
email_from_address: "noreply@internet.ee"

# Mailer configuration
mailer_host: 'localhost'
mailer_asset_host: 'http://localhost:3000'
mailer_address: 'mailcatcher'
mailer_port: '1025'
mailer_enable_starttls_auto: false
mailer_user_name: ''
mailer_password: ''
# 'plain', 'login', 'cram_md5'
mailer_authentication: 'plain'
mailer_domain: ''
mailer_openssl_verify_mode: 'none'

# OIDC configuration
# OIDC_HOST: 'test-auth.eeid.ee'
OIDC_ISSUER: 'https://test-auth.eeid.ee/hydra-public/'
OIDC_IDENTIFIER: ''
OIDC_SECRET: ''
OIDC_REDIRECT_URI: 'https://accred.test/users/auth/oidc/callback'
OIDC_DISCOVERY: true
OIDC_SCOPE: 'openid webauthn email phone'

# Here we will use TEST environment registry base url
# because all operation with domains and contacts should be in test registry environment
BASE_URL: "http://registry:3000"

REPP_BASE_URL: "http://registry:3000"
REPP_CREATE_DOMAIN: "/repp/v1/domains"
REPP_AUTH_TOKEN_URL: "/repp/v1/registrar/auth/tara_callback"
# REPP API endpoint for accreditation results
REPP_ACCREDITATION_RESULTS_URL: "/repp/v1/registrar/accreditation/push_results"

AUTH_API_URL: "/api/v1/accreditation_center/auth"
AUTH_EXCHANGE_URL: "/api/v1/accreditation_center/auth/exchange"
GET_CONTACT: "/api/v1/accreditation_center/contacts"
GET_DOMAIN_INFO: "/api/v1/accreditation_center/domains"
GET_INVOICES: "/api/v1/accreditation_center/invoice_status"

#ACCR_BOT DATA
ACCR_BOT_USERNAME: ""
ACCR_BOT_PASSWORD: ""
ACCR_BOT_CONTACT_CODE: ""
ACCR_BOT_REGISTRAR_NAME: "ACCREDITATION EIS"

CLIENT_BOT_CERTS_PATH: '/opt/ca/certs/accr_bot.crt.pem'
CLIENT_BOT_KEY_PATH:  '/opt/ca/private/accr_bot.key.pem'

# Automatically assign test attempts to users after sign in
AUTO_ASSIGN_TEST_ATTEMPTS: false

# Mandatory question validity period in years
MANDATORY_QUESTION_VALIDITY_YEARS: 1
