@use "../general/variables";

.quicklinks {
    position: relative;
    z-index: 1;
    margin-top: -40px;
    padding: 100px 50px 50px 50px;
    color: #fff;
    text-align: center;
    background: variables.$purple url("html-pattern.png") no-repeat 50% 50% / 728px auto;
    h2 {
        margin-bottom: 20px;
    }
    .bills {
        max-width: 780px;
        margin: 0 auto;

        p {
            margin-bottom: 12px;
            font-size: 18px;

            strong {
                display: inline-block;
                margin-right: 8px;
                font-size: 24px;
                line-height: 28px;
                font-weight: 800;
            }
        }

        .status {
            margin-top: 8px;
            font-weight: 700;

            &--ok {
                color: #b6ffb6;
            }
            &--expired {
                color: #ffd6d6;
            }
        }
    }
    .quicklinks--link {
        display: block;
        margin-bottom: 10px;
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        text-decoration: none;
        i {
            display: block;
            height: 40px;
            font-size: 40px;
            line-height: 40px;
            margin: 0 auto 20px;
            transition: all .3s ease-in-out;
        }
        &:hover {
            color: #fff;
            span {
                text-decoration: underline;
            }
            i {
                transform: scale(1.1)
            }
        }
    }
}
