// General
@use "general/variables";
@use "general/mixins";
@use "general/reset";
@use "general/general";
@use "general/page";

// Form
@use "form/form";
@use "form/checkbox";
@use "form/fileUpload";
@use "form/input";
@use "form/radio";
@use "form/select";
@use "form/tooltip";
@use "form/textarea";
@use "form/datepicker";

// Components
@use "components/button";
@use "components/grid";
@use "components/paper";
@use "components/message";
@use "components/pagination";
@use "components/table";
@use "components/tabs";
@use "components/quicklinks";
@use "components/user-data";
@use "components/steps";
@use "components/payment-methods";
@use "components/filter";
@use "components/dialog";
@use "components/label";
@use "components/coderay";
@use "components/spinner";

// Layout
@use "layout/header";
@use "layout/hero";
@use "layout/footer" as layout-footer;

// Menu
@use "menu/language";
@use "menu/main";
@use "menu/mobile";
@use "menu/portal";
@use "menu/user";
@use "menu/social";
@use "menu/footer" as menu-footer;
@use "menu/simple";

// Views
@use "views/admin_test_show";

// Font-awesome
@use "font-awesome" with (
  $fa-font-path: "font-awesome/webfonts"
);

// Choices
@use "choices";

// Flatpickr
@use "flatpickr.min";
@use "flatpickr/themes/airbnb";
@use "flatpickr/plugins/monthSelect/style";

// Tooltip
@use "tippy";

@use "config/animations";

@use "cookieconsent";

/* To make working required attribute */
.choices[data-type*="select-one"] select.choices__input, .not_visible {
  display: block !important;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Fix issue with overlapping dropdown */
.choices__list--dropdown, .choices__list[aria-expanded] {
  z-index: 100;
}

/* Fix issue with not enough space for choice items */
@include mixins.min-screen(640px) {
  .choices__list--dropdown .choices__item--selectable[data-select-text], .choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
    padding-right: 50px;
  }
}

 /* Cookie Consent */
 #cc--main {
  /** Change font **/
  --cc-font-family: $font-primary;

  /** Change button primary color to black **/
  --cc-btn-primary-bg: #0085CA;
  --cc-btn-primary-border-color: #0085CA;
  --cc-btn-primary-hover-bg: #037ebc;
  --cc-btn-primary-hover-border-color: #037ebc;

  /** Also make toggles the same color as the button **/
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);

  /** Make the buttons a bit rounder **/
  --cc-btn-border-radius: 5px;
}