<% content_for(:title) { "EIS | #{t('.title')}" } %>
<% content_for :hero do %>
    <div class="layout--hero">
        <h1><%= t('.title') %></h1>
        <%= back_link %>
    </div>
<% end %>

<div class="page page--admin-tests">
  <div class="page--content">
    <div class="wrapper">
      <div class="card-body">
        <%= render 'form', test: @test %>
      </div>
    </div>
  </div>
</div>